<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    
    <%= form.text_field :email, type: 'email',placeholder: "email",:class => "text-center text-uppercase" %>
  </div>

  <div class="password-field">
    
    <%= form.password_field :password, placeholder: "password", :class => "text-center text-uppercase" %>
  </div>

  <div class="submit-field mb-3">
    <button type="submit">Sign In</button>
  </div>

  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %><br>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
