<%= form_for @lecture do |s| %>

  <div class="field">
    <%= s.label :name %>
    <%= s.text_field :name %>
  </div>

  <div class="field">
    <%= s.text_field :user_id,value: current_user.id,style: "display: none" %>
  </div>

  <div class="actions">
    <%= s.submit %>
  </div>
<% end %>
