<!DOCTYPE html>
<html>
<title>Sign Up</title>
<head>
  
  <%= stylesheet_link_tag "entry_page" %>
  <title>Sign-UP
  </title>
</head>
<body>
  <div id="clearance" class="sign-up">

  <div class="login-page">
    
    <div class="form animated bounceInDown">
      
      <h3><%= t(".title") %></h3><br>
      <%= form_for @user do |form| %>
      <%= render partial: '/users/form', object: form %>
        <div class="submit-field mb-2">
          <button>Sign up</button>
        </div>

        <div class="other-links">
          <%= link_to t(".sign_in"), sign_in_path %>
        </div>
      <% end %>
      
    </div>

  </div>  

</div>


</body>
</html>