<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald|Quicksand|Tajawal" rel="stylesheet">

  
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <% if signed_in? -%>

      <nav class="navbar navbar-expand-lg navbar-light bg-white">

        <a class="navbar-brand" href="/">
             <img src="/assets/logo.png" width="300" height="60" class="d-inline-block align-top" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Disabled</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">About Us</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav navbar-expand-lg">
              <li class="nav-item active pr-3 mt-2 text-dark "><%= current_user.name%></li>
            </ul>
            <%= link_to t(".sign_out"),sign_out_path, method: :delete,:class => "btn btn-primary active my-2 my-sm-0" %>
          </form>
        </div>
      </nav>
     
    <% else -%>
      <br>
      <% end -%>

  </div>


  
  <%= yield %>

</body>
</html>
