<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald|Quicksand|Tajawal" rel="stylesheet">

  <%= stylesheet_link_tag 'hover' %> 
  <%= stylesheet_link_tag "main" %> 

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>
  
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
    
  <div id="header">

    
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

        <a class="navbar-brand mr-5" href="/">
             <img src="/assets/logo.png" width="300" height="60" class="d-inline-block align-top" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" id="first">
              <a class="nav-link text-white mr-2" href="<%= sign_up_students_path %>">Lectures</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white mr-2" href="#">Disabled</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white mr-2" href="#">About Us</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav navbar-expand-lg">
            </ul>
            <%= link_to t(".sign_out"),sign_out_path, method: :delete,:class => "btn btn-primary active my-2 my-sm-0" %>
          </form>
        </div>
      </nav>

  </div>


  
  <%= yield %>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>
